{% extends "frontend/layout.html" %}
{% block title %}
	ForgotPWD Page
{% endblock %}
{% block body %}
	<form action = "{{ url_for('forgot_pwd_submit')}}" method = "post">
	<label> Email</label>
	{% set email = ""%}
	{%if  request.args.get("email") != None %}
		{% set email = request.args.get("email") %}
	{% endif %}
	<input type = "email" name = "email" value = "{{email}}"/>
	{% if request.args.get("email") != None %}
		<input type = "hidden" name = "otp" value = "{{request.args.get('ref')}}"/>
		<label> New Password </label>
		<input type = "password" name = "password"/>
	{% endif %}
	<button type = "submit"> Update Password </button>
</form>
{% endblock %}